<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="hamburger-menu">
    <div class="menu-icon" onclick="toggleMenu()">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
    <div class="menu-content" id="menuContent">
        <a class="menu-item" href="/">Home</a>
        <a class="menu-item" href="/profile">Profile</a>
        <a class="menu-item" href="/my-playlist">My Playlist</a>
        <a class="menu-item" href="/#" onclick="handleLogout()">Logout</a>
    </div>
</div>
<script src="/menu.js"></script>
<script>
    function handleLogout() {
        fetch('/logout')
                .then(() => {
                    window.location.href = '/';
                });
    }
</script>


{{{body}}}
</body>
</html>