<div class="hero-banner">
    <img src="/home2.jpeg" alt="Hero Banner">
</div>
<div class="container">
    <h1>Welcome to Playlist 2 Set List</h1>
    {{#if profileInfo}}
        <p>Hello, {{profileInfo.displayName}}</p>
    {{else}}
        <p>Please <a href="/auth/spotify">log in with Spotify</a> to continue.</p>
    {{/if}}
</div>