<h1>User Profile</h1>
<div>
    <p> <a href="{{userProfile.profileUrl}}">{{userProfile.displayName}}</a></p>

    <img src="{{userProfile.photos.[1]}}" alt="profile picture">

    <!-- Add more fields as needed -->
</div>