body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #fff;
  margin: 10px 0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

li img {
  border-radius: 8px;
  margin-right: 20px;
}

li h2 {
  margin: 0;
  color: #007BFF;
}

li p {
  margin: 5px 0;
  color: #666;
}

li a {
  margin-left: auto;
  text-decoration: none;
  color: #007BFF;
  border: 1px solid #007BFF;
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

li a:hover {
  background-color: #007BFF;
  color: #fff;
}
.hero-banner {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  overflow: auto;
}
.hero-banner img {
  width: 600px;
  height: 100%;
  object-fit: cover;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* styles.css */
.hamburger-menu {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
}

.menu-icon {
  cursor: pointer;
  width: 30px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-icon div {
  width: 100%;
  height: 4px;
  background-color: #333;
  transition: all 0.3s ease;
}

.menu-content {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 35px;
  right: 0;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
}

.menu-content.show {
  display: flex;
}

.menu-item {
  text-decoration: none;
  color: #333;
  padding: 10px 0;
  transition: color 0.3s ease;
}

.menu-item:hover {
  color: #007BFF;
}