/* public/styles.css */
body {
  background-color: #1e1e1e;
  color: #c5c6c7;
  font-family: 'Courier New', Courier, monospace;
}

a {
  color: #66fcf1;
  text-decoration: none;
}

a:hover {
  color: #45a29e;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}
h1 {
  text-align: center;
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #0b0c10;;
  margin: 10px 0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

li img {
  border-radius: 8px;
  margin-right: 20px;
}

li h2 {
  margin: 0;
}

li p {
  margin: 5px 0;
  color: #666;
}

li a {
  margin-left: auto;
  text-decoration: none;
  color: #45a29e;
  border: 1px solid #45a29e;
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

li a:hover {
  background-color: #45a29e;
  color: #0b0c10;
}


.hero-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  background-image: url('/herobanner.webp');
  background-size: cover;
  background-position: center;
  opacity: 0.7;
  z-index: -1;
}

.hamburger-menu {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  z-index: 1;
}

.menu-icon {
  cursor: pointer;
  width: 30px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-icon div {
  width: 100%;
  height: 4px;
  background-color: #c5c6c7;
  transition: all 0.3s ease;
}

.menu-content {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 35px;
  right: 0;
  background-color: #0b0c10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
}

.menu-content.show {
  display: flex;
}

.menu-item {
  white-space: nowrap;
  text-decoration: none;
  color: #c5c6c7;
  padding: 10px 0;
  transition: color 0.3s ease;
}

.menu-item:hover {
  color: #66fcf1;
}

h1, h2, h3, h4, h5, h6 {
  color: #66fcf1;
}

code {
  background-color: #0b0c10;
  color: #66fcf1;
  padding: 2px 4px;
  border-radius: 4px;
}